.sty
{
    /* background-color:darksalmon; */
    background-image: url('http://getwallpapers.com/wallpaper/full/d/7/8/302180.jpg' );
    /* background-position: center; */
    background-size: cover;
    padding:100px;

    color:white;
}
.hhh
{
    color:black;
}
.sty1
{
    background-color:#ddd;
    padding-bottom: 50px;
    margin-right:65%;
    border-radius: 5%;
    /* margin-left:20%; */
    border: 8px solid black;

}